
@font-face {
    font-family: 'BebasNeue Regular';
    src: url(../fonts/BebasNeue%20Regular.ttf)
}
@font-face {
    font-family: 'BebasNeue Bold';
    src: url(../fonts/BebasNeue%20Bold.ttf)
}
@font-face {
    font-family: 'Aleo-Regular';
    src: url(../fonts/Aleo-Regular.otf)
}

body {
    font-family: 'Source Sans Pro', serif;
    font-size: 23px;
}

wrapper {
    background-color: #7F7D7D;
}

.header {
	width: 100%; 
	position: fixed;
    font-family: 'BebasNeue Regular', serif;
    padding-top:  4%;
    padding-right: 15%;
    margin-bottom: 2%;
    color: #eee;
    background-color: #053247;
    font-size: 200%;
    text-align: right;
    padding-left: 7%;
    font-weight: bolder;
}


#aboutme {
    height: 1200px;
    text-align: right;
}

#projects {
    height: 1000px;
    text-align: left;
    
}
#contact {
    height: 1000px;
    text-align: left;
}
.center { margin: 0 auto; }
.content{ 
    font-family: 'Source Sans Pro', serif;
    font-size: 140%;
    font-weight: 10;
    text-align: right;
    display:block;
    width: 75%;
    padding-top: 8%;
    padding-left: 20%;
    padding-right: 20px;
    text-align: inherit;
    
}
.clear { clear: both; }
.project {
    text-align: left;
}

.rightbox {
    width: 25%;
    right: 3px;
    top : 14%;
    border-left: 3px solid #5B5B5C;
    border-left-style: groove;
    position: fixed;
    padding-right: 5%;
    padding-top: 0%;
    padding-bottom: 10%;
}
.rightbox wrap{
    font-family: 'Aleo-Regular', serif;
    font-size: 15px;
    color: #5B5B5C;
}
.rightbox h1{
    font-family: 'BebasNeue Bold', serif;
    font-size: 33px;
    font-weight: 100;
    padding-left: 20px;
    padding-right: 50%;
    right: 4%;
    color: #5B5B5C;
    text-align: left;
}

.media {
    position: fixed;
    bottom: 50px;
    margin-bottom: 2%;
    left: 2%;
}
    
.footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:50px;
    background-color: #053247;
    color: #eee;
    }

.footer center {
    font-family: 'Aleo-Regular';
    text-align: center;
}



#nav li a { color: #5B5B5C; opacity:0.6; font-size: 16px; }
#nav li a.active { color: #5B5B5C; opacity:1; }
#nav li a:hover { color: #5B5B5C; opacity:1;  }
